@use "./globals.scss" as globals;
@use "./colors.scss" as color;
@use "./panels.scss";
@use "./fonts.scss" as font;
@use "./elements.scss";
@use "./elements/ListItemsMain.scss";
@use "./elements/DialogWindow.scss";
@use "./elements/Notification.scss";
* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: #0F0F0F;
    color:white;
    overflow: hidden;
    font-family: font.$geist-light;
    font-weight: 500;
    letter-spacing: 0.04em;

    -webkit-user-select: none; /* Chrome, Safari */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* Internet Explorer */
    user-select: none;         /* Standard */
    // font-style: bold;
}

.thumbnail{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    margin: 10px;
}