@use "globals.scss" as globals;
@use "colors.scss" as color;

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: color.$main-background;
    font-size: globals.$font-size-regular;
    overflow: hidden;
}

// main content window
.main-window-wrapper{
    background-color: color.$main-background;
    flex-grow: 1;
    box-sizing: border-box;
}

.left-pannel-wrapper{
    width: globals.$panel-width;
    max-width: globals.$panel-max-width;
    height: 100%;
    background-color: color.$secondary-background;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    transition: transform 1s ease;

    .drag-handle {
        width: 10px;
        cursor: ew-resize;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: color.$secondary-background;

        &:hover{
            .drag-handle-visible{
                background-color: color.$secondary-background-hover-medium;
            }
        }

        .drag-handle-visible{
            position: absolute;
            top: 0;
            right: 0;
            right: 0;
            height:100%;
            width: 2px;

            &:hover{
                background-color: color.$secondary-background-hover-medium;
            }
        }
      }

      .left-pannel-content{
        overflow: hidden;
        // padding: 20px;
      }
}

.no-select {
-webkit-user-select: none; /* Chrome, Safari */
-moz-user-select: none;    /* Firefox */
-ms-user-select: none;     /* Internet Explorer */
user-select: none;         /* Standard */
}

body.resizing {
    cursor: ew-resize; /* Force the cursor to stay as ew-resize */
}


