@use "globals.scss" as globals;
@use "colors.scss" as color;
@use "fonts.scss" as font;

.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: color.$main-background;
    font-size: globals.$font-size-regular;
    overflow: hidden;
    position: relative;
}

// main content window
.main-window-wrapper{
    background-color: color.$main-background;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    overflow: visible;
}

.left-panel-wrapper{
    width: globals.$panel-width;
    max-width: globals.$panel-max-width;
    height: 100%;
    background-color: color.$secondary-background;
    overflow: visible;
    box-sizing: border-box;
    position: relative;
    transition: transform 0.1s ease-in; 
    z-index: 2;

    // Add transform when width is 0
    &[style*="width: 0"] {
        transform: translateX(-100%);
        
        .left-panel-content {
            visibility: hidden;  // Hide content when collapsed
        }
    }

    .drag-handle {
        width: 10px;
        cursor: ew-resize;
        // position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        background-color: color.$secondary-background;
        z-index: inherit;

        &:hover{
            .drag-handle-visible{
                background-color: color.$secondary-background-hover-medium;
            }
        }

        .drag-handle-visible{
            position: absolute;
            top: 0;
            right: 0;
            right: 0;
            height:100%;
            width: 1.5px;
            background-color: color.$divider-color;

            &:hover{
                background-color: color.$secondary-background-hover-medium;
            }
        }
      }

      .left-panel-content{
        overflow: visible;
        position: relative;
        min-width: 0;
        // padding: 20px;
      }
}

.no-select {
-webkit-user-select: none; /* Chrome, Safari */
-moz-user-select: none;    /* Firefox */
-ms-user-select: none;     /* Internet Explorer */
user-select: none;         /* Standard */
}

body.resizing {
    cursor: ew-resize; /* Force the cursor to stay as ew-resize */
}


/// INTERIOR
.left-panel-content{
    .panel-fn-buttons-wrapper{
        padding:8px 10px; 
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 0;
        position: relative;

        .left{
            font-family: font.$geist-regular;
            padding-left: 8px;
            cursor: default;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex-shrink: 1;

            .heading{
                font-size: 15px;
                font-weight: 500;
            }

        }
        .right{
            display: flex;
            justify-content: flex-end;
            flex-shrink: 0;
            max-width: 100%;
            overflow: hidden;
        }
    }
}
